<h2>New course</h2>

<form class="form course" id="add-course" method="post" action="/courses">

  <div class="form-group">
    <label for="course[title]">Title:</label>
    <input class="form-control" type="text" name="course[title]" id="course_title">
  </div>

  <div>
    <input type="submit" value="Add course" class="btn">
  </div>
</form>